Icon?
.DS_Store
.svn
*~
/.idea
/.vscode
/.cache
/.eslintrc.js
/src/css/.sass-cache
/webroot/apps/*
/webroot/lib/*
/webroot/v1/*
/webroot/dev/*
/node_modules/*
/yarn.lock
/package-lock.json
/src/page/*
!/src/page/*.vue
!/src/page/*.js
!/src/page/service1
projects.json